:host {
  display: block;
}


.mdc-tab-bar {
  display: flex;
}

.mdc-tab {
  cursor: pointer;
  padding: 12px 24px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  transition: background-color 0.3s ease;
}

.mdc-tab:hover {
  background-color: #f0f0f0;
}

.mdc-tab--active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.mdc-tab-radio, .tab_window {
  display: none;
}

.active_tab{
  display: block;
}

.room-item-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.room-item-list .item-details div{
  width: 50%;
  display: inline-block;
  height: 30px;
  line-height: 40px;
}

.room-item-list div div span{
  font-weight: bold;
}


.form{
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 30%;
  min-width: 440px;
}

.specialSelector, .specialInput{
 height: 30px;
 line-height: 30px;
 background-color: #e6e0e9;
 padding: 15px;
 border-top-left-radius: 3px;
 border-top-right-radius: 3px;
 border-bottom: 1px solid gray;
}

.specialSelector label, .specialInput label{
  color: #49454f;
}
.specialSelector select, .specialInput input{
  padding: 5px 10px;
  /* margin-left: 20px; */
  float: right;
}
